/*     TAGS      */

*{
	margin:0px;
	padding:0px;
}

img {
    vertical-align: middle;
}

header{
	background-color: rgb(216, 216, 216);
	color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
	background-color: rgb(218, 218, 218);
	background-image: url(background.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-size: 100%;
	margin: 0 10%;
	box-shadow: 0px 0px 20px rgb(78, 78, 78);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
	background-color: rgb(187, 187, 187);
	background-size: 100%;
	color: black;
	padding: 15px;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*     IDs      */

#cabecalho_titulo{
	display: flex;
	flex-direction: row;
	height: 100px;
}

#cabecalho_titulo h1{
	color: black;
	padding: 20px;
	font-size: 40px;
	text-shadow: 2px 2px 3px white;
}

#cabecalho_titulo img{
	height: 60px;
	padding: 20px 25px 10px 0;
}

#cabecalho_capa{
	padding: 0;
	margin: 0;
}

#cabecalho_capa img{
	width: 100%;
}

#nav_menu {
	color: black;
	display: flex;
	flex-direction: row;
}

#nav_menu a{
	color: black;
	text-align: center;
	padding: 14px 16px;
  	text-decoration: none;
}

#nav_menu a:hover {
	transition: 0.2s;
	color: white;
	font-size: 120%;
	padding: 12px 12px;
	background-color: rgb(144, 144, 144);
}



#principal h1{
	text-align: center;
	padding: 20px;
	color: rgb(26, 31, 51);
	text-shadow: 2px 2px 2px rgb(163, 163, 163);

}
/*
#principal h2{
	text-align: center;
	font-size: 28px;
	padding: 20px;

}

#principal h3{
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 30px;
	color: rgb(95, 95, 95);

}*/



#sobre{
	padding: 5px 20px;
	background-color: white;
}

#foto_perfil{
	display:block;
	width: 30%;
	margin: 0 auto;
}

#sobre h1{
	text-align: center;
	padding: 20px;
	color: rgb(26, 31, 51);
	text-shadow: 2px 2px 2px rgb(163, 163, 163);
	font-size: 40px;
}

/*     CLASS      */

.container{
	width: 90%;
	margin: auto;

}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 10px;
	left: 2.5%;
	width: 95%;
	height: 100%;
	border-radius: 10px;
	
}

.audioWrapper {
	display: block;
	margin: 0 auto;
	width: 95%;
	position: relative;
	bottom: 5px;
}

.flex-container{
	padding-top: 30px;
  	display: flex;
  	flex-wrap: wrap;
	background-color: #f6f6f6;
	justify-content: space-evenly;
}


.flex-container > div {
	background-color: rgb(255, 255, 255);
	width: 30%;
	margin: 15px 0;
	text-align: center;
	border-radius: 10px;
	box-shadow: 3px 3px 5px rgb(190, 190, 190);
	transition: all .2s ease-in-out;
}

.flex-container > div:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.1);
}

.flex-container div a{
	text-decoration: none;
}

.flex-container div img {
	width: 95%;
	margin: 10px auto;
	border-radius: 10px;
	height: calc(13.2vw);
}

.flex-container div h3 {
	margin: 20px 15px;
	color: black;
	margin

}

.flex-container div p {
	color: rgb(56, 56, 56);
	margin: 10px 10px 30px 10px;
}